@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/

* {
	border: 1px solid gold;
}

/*html {
	background: url(../images/dark-green-header-1072179.jpg) no-repeat center center fixed;
	background-size: cover;
}*/

body {
	font-family: 'Montserrat', sans-serif;
}


#section1 {
	height: 900px;
	width: 100%;
	background: url(../images/dark-green-header-1072179.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	/*display: none;*/
}

#intro-img {
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	display: block;
}

a {
	text-decoration: none;
}

#play-now {
	margin: 25px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(0, 136,169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	text-transform: uppercase;
	/*display: none;*/
}

#play-now:hover {
	background-color: rgba(255, 204, 51, 0.8);
}

#section2 {
	height: 900px;
	width: 100%;
	background: url(../images/color-conifer-environment-192136.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	margin-top: 900px;
	top: 0px;
	left: 0px;
}

#instructions, #snake-snack {
	color: white;
	text-align: center;
	margin-top: 120px;
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
	text-shadow: 5px 5px 1px rgba(0, 0, 0, 1);
	font-size: 24px;
}

#instructions-outer-container {
	height: 500px;
	width: 750px;
	background-color: black;
	margin: 20px auto 0px auto;
}

#instructions-inner-container {
	color: white;
	height: 400px;
	width: 650px;
	background-color: black;
	margin: 20px auto 0px auto;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	overflow: scroll;
	border: 5px solid white;
}

#objective {
	margin-top: 20px;
	color: rgba(255, 204, 51, 1);
}

#the-catch {
	color: rgba(255, 204, 51, 1);
}

#how-to-score, #note {
	color: rgba(0, 136,169, 1);
}

p {
	line-height: 180%;
}


#start-game {
	margin: 25px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(255, 204, 51, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	text-transform: uppercase;
	/*display: none;*/
}

#start-game:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

#section3 {
	height: 900px;
	width: 100%;
	background: url(../images/conifer-day-design-1028223.jpg) no-repeat center center;
	background-size: cover;
	background-color: black;
	position: absolute;
	margin-top: 1800px;
	top: 0px;
	left: 0px;
}

#contains-three {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}






#reset-game {
	margin: 25px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(0, 136,169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	text-transform: uppercase;
	/*display: none;*/
}

#reset-game:hover {
	background-color: rgba(255, 204, 51, 0.8);
}

/*#section4 {
	height: 900px;
	width: 100%;
	background-color: blue;
	position: absolute;
	margin-top: 2700px;
	top: 0px;
	left: 0px;
}*/
/*#cca329
#006d87*/