@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/

* {
	border: 1px solid gold;
}

/*html {
	background: url(../images/dark-green-header-1072179.jpg) no-repeat center center fixed;
	background-size: cover;
}*/

body {
	font-family: 'Montserrat', sans-serif;
}


#section1 {
	height: 900px;
	width: 100%;
	/*background-color: rgba(255, 0, 0, 1);*/
	background: url(../images/dark-green-header-1072179.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
}

#intro-img {
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	display: block;
}

a {
	text-decoration: none;
}

#play-now {
	margin: 25px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(0, 136,169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
}

#play-now:hover {
	background-color: rgba(255, 204, 51, 0.8);
}

#section2 {
	height: 900px;
	width: 100%;
	background-color: black;
	position: absolute;
	margin-top: 900px;
	top: 0px;
	left: 0px;
}

#instructions {
	color: white;
	text-align: center;
	margin-top: 100px;
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
}

#instructions-outer-container {
	height: 500px;
	width: 750px;
	background-color: white;
	margin: 50px auto 0px auto;
}

#instructions-inner-container {
	height: 450px;
	width: 650px;
	background-color: gray;
	margin: 20px auto 0px auto;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

#objective {
	margin-top: 60px;
}

#start-game {
	margin: 25px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(255, 204, 51, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
}

#start-game:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

#section3 {
	height: 900px;
	width: 100%;
	background-color: pink;
	position: absolute;
	margin-top: 1800px;
	top: 0px;
	left: 0px;
}

#section4 {
	height: 900px;
	width: 100%;
	background-color: blue;
	position: absolute;
	margin-top: 2700px;
	top: 0px;
	left: 0px;
}
/*#cca329
#006d87*/